{% extends 'base.html' %}

{% block title %} Detail {% endblock title %}


{% block script %}

<script>

$(document).ready(function () {
    loadTweetContainer("tweet-container", {{ object.id }});
})
</script>

{% endblock script %}


{% block content %}

    <div class="row">
    {% include 'accounts/snippets/left_dashboard.html' %}
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 content-block">
            <div id="tweet-container"></div>
        </div>
    </div>




{% endblock content %}