{% load staticfiles %}
<form class="form {% if form_class %}{{ form_class }}{% endif %} " id="tweet-form-master" method="POST" enctype="multipart/form-data" action="{% if action_url %}{{ action_url }}{% endif %}">
            {% csrf_token %}
            <textarea name="content" id="id_content" required="" placeholder="What's happening?" cols="40" class="form-control" rows="3"></textarea>
            <div id="gallery"></div>
            <div class="extras">
                <div class="row">
                    <div class="upload col-2 col-sm-2 col-lg-2 col-md-2">
                        <label  for="id_media">

                              <img src="{% static 'images/plus.png' %}" class="plus"   aria-expanded="false" >
                        </label>
                        <input type="file" name="media" multiple="" id="id_media">
                    </div>
                    <div class="form_button col-2 col-sm-2 col-lg-2 col-md-2">
                        <input class="btn btn-primary" type="submit" value="{{ btn_title }}"/>
                    </div>
                </div>
            </div>
</form>


