@media (min-width: 1024px){
    .container {
    width: 1190px;
    max-width: 100%;
                }
    .PhotoTriple {
        height: 360px;
        width: 535px
    }

    .PhotoQuad{
    height: 402px;
    width: 535px;
    }

    .PhotoDouble{
    height: 267px;
    width: 535px;
    }

    .PhotoSingle{
    /*height: 535px;*/
    width: 535px;
    /*padding-right: 10px;*/
    }
}

@media screen and (max-width: 768px){
    .container {
    width: 780px;
    max-width: 100%;
                }
    .PhotoTriple {
        height: 232px;
        width: 345px
    }

    .PhotoQuad{
    height: 259px;
    width: 345px;
    }

    .PhotoDouble{
    height: 172px;
    width: 345px;
    }

    .PhotoSingle{
    height: 345px;
    width: 345px;
    padding-right: 10px;
    }
}

.footer-text{
    color: grey;
    font-size: 12px;
}

.username{
    font-weight: bold;
    color: black;
}
.banner{
    background-color: #1DA1F2;
    height: 175px;
}

.dashboard-profile .banner{
    background-color: #1DA1F2;
    height: 100%;
    width: 100%;
}
.search-results{
    top: 25%;
}

/*.search-banner .banner{*/
    /*display: flex;*/
    /*flex: 25%;*/
    /*height: 100%;*/
    /*width: 100%;*/
/*}*/
.search-banner{
    height: 80px;
    width: 100%;
}
.search-banner .banner{
    height: 80px;
}

.profile-info{

    height: 60%;
    width: 100%;
}

.dashboard-profile .avatar{
    top: 45px;
    left: 2%;
    position: absolute;
    transition: bottom .3s;
    z-index: 3;
}
.dashboard-profile{
    display: flex;
    flex: 25%;
    height: 40%;
    width: 100%;
}

.banner-footer{
    background-color: white;
    height: 50px;
}

.retweet-icon{
    margin-top: 5px;
    position: absolute;
    left: 25px;
    width: 18px;
    height: 13px;
}

.profileAvatar{
    background: #fff;
    border: 5px solid #fff;
    border-radius: 50%;
    height: 200px;
    position: relative;
    width: 200px;
}

.avatar{
    top: 100px;
    left: 15%;
    position: absolute;
    transition: bottom .3s;
    z-index: 3;
}

.avatar-mini{
    position: absolute;
    left: 0;
    width: 45px;
    height: 45px;

}

.dashboard-left{
    margin: 10px;
    padding: 0;
    background-color: white;
    display: block;
    position: relative;
    width: auto;
    height: 208px;
}

.dashboard-left-footer{
    margin: 10px;
    padding: 0;
    background-color: white;
    display: block;
    position: relative;
    width: auto;
    height: 208px;
}

.form-block{
    background-color: #E8F5FD;
}

.tweet-form{
    padding: 10px;
}

.dashboard-right{
    margin: 10px;
    padding: 0;
     background-color: white;
    display: block;
    height: 100px;
}

.content-block{
    padding: 0;
    margin-top: 10px;
   background-color: white;
    display: block;
}

.media-container {
    height: 508px;
    width: 508px;
    margin: 0;
}

.pre-content{
    margin-left: 50px;
}

.media-body{
    margin-left: 50px;
}

.page-outer{
    min-height: 100vmin;
    background-color: #e6ecf0;

}

.img-OnlyOne{
    object-fit: cover;

}


.PhotoDouble .main-media {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 50%;
    height: 100%;
    padding: 0 2px;
}

.PhotoDouble .secondary-media {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 50%;
    padding: 0 2px;
}

.PhotoDouble .main-media a>img{
    height: 100%;
    object-fit: cover;
}
.PhotoDouble .secondary-media div{
    height: 100%;
}

.PhotoTriple .main-media {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 65%;
    height: 100%;
    padding: 0 2px;
}

.PhotoTriple .secondary-media {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 35%;
    padding: 0 2px;
}

.PhotoTriple .main-media a>img{
    height: 100%;
    object-fit: cover;
}
.PhotoTriple .secondary-media div{
    height: 50%;
}


.PhotoQuad .secondary-media {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 30%;
    max-height: 100%;
    padding: 0 2px;
}

.PhotoQuad .main-media {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 75%;
    max-height: 100%;
    padding: 0 2px;
}

.PhotoQuad .main-media a>img{
    height: 99.9%;
    object-fit: cover;
}

.PhotoQuad .secondary-media div{
    height: 33.3%;

}

.media-body .row{
    margin-left: 0;
    margin-right: 8px;
}

.Image2{
    width: 100%;
    height: 100%;

    object-fit: cover;
}
.tweetFooter{
    padding: 15px 0 0 0;;
}

.view{
    padding-left: 0;
}




.thumbnail{
    object-fit: cover;
    width: 110px;
    height: 110px;
    margin: 10px;

}


.upload > input
{
    display: none;
}

.upload img
{
    margin-top: 9px;

    width: 30px;
    height: 30px;

}
.form_button > input{
    margin-top: 5px;
}

.extras .row{

    margin-left: 0;
    margin-right: 0;
}



.plus {
    position: relative;
    width: 27px;
    height: 30px;
    border-radius: 50%;
    transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
    transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
    transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1), -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
    }
.plus:hover {

    box-shadow: 0 0 1px 3px rgba(0, 123, 255, 0.4), 0 0 1px 5px rgba(0, 123, 255, 0.1), 0 0 1px 10px rgba(0, 123, 255, 0.1);
    }


.fa-eye:hover { color: #007bff; }

.fa-retweet:hover { color: limegreen; }


.fa-heart-o:hover { color: red; }

.fa-comment-o:hover { color: #007bff; }