{% extends 'base.html' %}
{% load thumbnail %}

{% load static %}

{% block title %} Search{% endblock title %}

{% block script %}

<script>
$(document).ready(function () {
    loadTweetContainer("tweet-container");
})
</script>

{% endblock script %}

{% block headProfileDetail %}
    <div class="search-banner">
            <div class="banner">
                <div class="container">
                        <div class="col-sm-12 col-md-6 search-results">
                            {% if request.GET.q %}
                                <p class="lead" style="color: white">Results for: {{ request.GET.q }} </p>
                            {% endif %}
                        </div>
                </div>
            </div>
    </div>

{% endblock headProfileDetail %}



{% block content %}
        <div class="row">
            {% include 'accounts/snippets/left_dashboard.html' %}
            <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 content-block">
            <h3>Tweets</h3>
                <div class="" id="tweet-container" data-url="/api/search/">

                </div>
                <a href="#" id="loadmore">Load More Tweets</a>
            </div>

            <div class="col-12  col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <h3>People</h3>
                <div class="people_search">
                    {% for user in users %}
                        {% if request.user != user.profile.user %}
                            <div class="people row">
                                <a href="{% url 'profiles:detail' user.username %}" >
                                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                        {% if user.profile.photo %}
                                                 <img src="{{ user.profile.photo.url}}" class="avatar_thumbnail rounded-circle " aria-haspopup="true" aria-expanded="false" >
                                        {% else %}
                                               <img src="{% static 'images/user_default.png' %}" class="avatar_thumbnail rounded-circle"   aria-expanded="false">
                                        {% endif %}
                                    </div>
                                </a>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-5 ">
                                    <div>
                                         <a href="{% url 'profiles:detail' user.username %}" ><span class="username">{{ user }}</span></a>
                                    </div>
                                    <div >
                                        <span>Tweets {{ user.profile.get_tweets.count }}</span>
                                    </div>
                                    <div >
                                        <span>Followers  {{ user.followed_by.all.count }}</span>
                                    </div>

                                </div>
                                <div class="col-3 col-sm-3 col-md-3 col-lg-3  col-xl-3 follow-button">
                                        <a href="{{ user.profile.get_follow_url }}" class="btn btn-primary">
                                        {% if user in request.user.profile.following.all %}UnFollow {% else %}Follow {% endif %}</a>
                                </div>
                            </div>
                        {% endif %}
                        <hr>
                    {% empty %}
                        <p>No users found</p>
                    {% endfor %}
                </div>
            </div>
        </div>



{% endblock content %}
